p {
  color: black;
  font-weight: bolder;
}

h1 {
font-family: cursive;
padding-right: 50px;
}

.navbar {
  color: gold;
  font-size: 20px;
  font-weight: 250;
}

.nav-link {
  color: gold;
  font-size: 20px;
  font-weight: 200;
  background-color: darkblue;
}

.nav-link:active {
  background-color: darkorange;
  color: darkorange;
}

/* .card-body {
  padding-top: 50px;
} */

.nav-link {
    text-align: center;
}

hr {
    border-top: 2px solid rgba(0,0,0,.1);
}

/* .container {
    padding: 50px;
    
} */

img {
    padding: 50px;
}
/* 
#pic {
    width: 250px;
    height: 250px;
} */

body {
    background-image: url("./Assets/background.jpg");
    background-size: cover;
    height: 100%; 
}


/* 
.qte {
    color: blue;
    font-weight: lighter;
background-color: white;
margin: 0;

    
}

#footer {
    padding: 0;
    margin: 0;
}
 */

.port {
    padding-top: 50px;
    margin-top: 50px;
    /* height: 100%;
    width: 100%; */
}



